In [ ]:
!pip install kaggle
import kaggle

In [2]:
!kaggle datasets download najir0123/walmart-10k-sales-datasets -f Walmart.csv

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.7.4.2 / client 1.6.17)
Dataset URL: https://www.kaggle.com/datasets/najir0123/walmart-10k-sales-datasets
License(s): MIT
Downloading Walmart.csv to C:\Users\rupsh

  0%|          | 0.00/819k [00:00<?, ?B/s]
100%|##########| 819k/819k [00:01<00:00, 505kB/s]
100%|##########| 819k/819k [00:01<00:00, 505kB/s]

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv(r"C:\Users\rupsh\OneDrive\Desktop\DataSets\Walmart.csv")
df

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48
...,...,...,...,...,...,...,...,...,...,...,...
10046,9996,WALM056,Rowlett,Fashion accessories,$37,3.0,03/08/23,10:10:00,Cash,3.0,0.33
10047,9997,WALM030,Richardson,Home and lifestyle,$58,2.0,22/02/21,14:20:00,Cash,7.0,0.48
10048,9998,WALM050,Victoria,Fashion accessories,$52,3.0,15/06/23,16:00:00,Credit card,4.0,0.48
10049,9999,WALM032,Tyler,Home and lifestyle,$79,2.0,25/02/21,12:25:00,Cash,7.0,0.48
10050,10000,WALM069,Rockwall,Fashion accessories,$62,3.0,26/09/20,9:48:00,Cash,3.0,0.33

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [18]:
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [17]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [20]:
df.duplicated().sum()

51

In [21]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [22]:
df.drop_duplicates(inplace=True)

In [24]:
df.duplicated().sum()

0

In [25]:
df.shape

(10000, 11)

In [26]:
df.dropna(inplace=True)

In [28]:
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [29]:
df.shape

(9969, 11)

In [32]:
 df['unit_price']=df['unit_price'].str.replace('$','')

In [34]:
df['unit_price'].dtype

dtype('O')

In [35]:
df['unit_price']=df['unit_price'].astype('float')

In [36]:
df['unit_price'].dtype

dtype('float64')

In [38]:
df['Total']=df['unit_price']*df['quantity']

In [39]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin', 'Total'],
      dtype='object')

In [40]:
df['Total'].dtype

dtype('float64')

In [43]:
from datetime import datetime

# Generate today's date
today = datetime.today().strftime('%Y-%m-%d')

# Create filename with date
filename = f"cleaned_Walmat_data_{today}.csv"

# Save the DataFrame
df.to_csv(filename, index=False)

In [49]:
# converting columns name to standard format.
df.columns=df.columns.str.lower()

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   branch          9969 non-null   object
 2   city            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
 11  total           9969 non-null   float64
dtypes: float64(5), int64(1), object(6)
memory usage: 1012.5+ KB

In [65]:
df.dtypes

invoice_id          int64
branch             object
city               object
category           object
unit_price        float64
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
total             float64
dtype: object

In [81]:
df['date']=pd.to_datetime(df['date'],format='%d-%m-%Y')

In [82]:
df['date']

0      2019-05-01
1      2019-08-03
2      2019-03-03
3      2019-01-27
4      2019-08-02
          ...
9995   2023-03-08
9996   2021-02-22
9997   2023-06-15
9998   2021-02-25
9999   2020-09-26
Name: date, Length: 9969, dtype: datetime64[ns]

In [83]:
df['date'].dtype

dtype('<M8[ns]')

In [84]:
df['time']=pd.to_datetime(df['time'],format='%H:%M:%S')

In [86]:
df['time'].dtype

dtype('<M8[ns]')

In [41]:
# load the dataframe to postgresql.
import psycopg2

In [87]:
conn=psycopg2.connect(
    dbname="Walmart_db",
    user="postgres",
    password="Rs@23925",
    host="localhost",
    port="5432"
)
cur=conn.cursor()

In [88]:
create_table="""
CREATE TABLE IF NOT EXISTS WALMART(
invoice_id int PRIMARY KEY,
branch varchar(25),
city varchar(50),
category varchar(100),
unit_price float,
quantity float,
date date,
time time,
payment_method varchar(20),
rating float,
profit_margin float,
total float
);
"""

In [89]:
cur.execute(create_table)
conn.commit()

In [91]:
for _ , row in df.iterrows():
    insert_query="""
    Insert into WALMART(invoice_id,branch,city,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total)
    values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"""
    cur.execute(insert_query,tuple(row))
conn.commit()

In [93]:
cur.close()
conn.close()

In [94]:
df.shape

(9969, 12)